<div id="footer">
    <div class="container">
        <div class="row">
            <blockquote class="col-lg-3">
                <dl>
                    <dt>HELP</dt>
                    <dd>Help Center</dd>
                    <dd>Contact us</dd>
                    <dd>Delivery timelines</dd>
                    <dd>Report a product</dd>
                </dl>
            </blockquote>
            <blockquote class="col-lg-3">
                <dl>
                    <dt>ABOUT</dt>
                    <dd>Terms and Conditions</dd>
                    <dd>Privacy Policy</dd>
                    <dd>Services</dd>
                </dl>
            </blockquote>
            <blockquote class="col-lg-3">
                <dl>
                    <dt>JOIN US ON</dt>
                    <dd><img src="https://cdn-icons-png.flaticon.com/512/174/174848.png" alt="" width="25" height="25"></dd>
                    <dd><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="" width="25" height="25"></dd>
                    <dd><img src="https://cdn-icons-png.flaticon.com/512/3256/3256013.png" alt="" width="25" height="25"></dd>
                </dl>
            </blockquote>
            <blockquote class="col-lg-3">
                <dl>
                    <dt>PAYMENT METHODS</dt>
                    <dd><img src="https://cdn-icons-png.flaticon.com/128/5968/5968299.png" alt="" width="40" height="40"></dd>
                    <dd><img src="https://cdn-icons-png.flaticon.com/512/1571/1571028.png" alt="" width="40" height="40"></dd>
                </dl>
            </blockquote>
        </div>
    </div>
    <p id="copyright">Copyrights Reserved 2022</p>
</div>
